.mainContainer {
	margin: auto;
	width: 60%;
	min-width: 900px;
	border: 2px solid black;
}
.headerContainer {
	height: 200px;
	background-color: #f1f1f1;
	width: 100%;
	top-padding: 10px;
	border: 2px solid black;
}
.bodyContainer {
	min-height: 400px;
	background-color: #f1f1f1;
	width: 100%;
	border: 2px solid black;
}
.footerContainer {
	height: 200px;
	background-color: #f1f1f1;
	width: 100%;
	bottom-padding: 10px;
	border: 2px solid black;
}
.linkbarContainer {
	background-color: grey;
	width: 100%;
	border: 2px solid black;
}
.contentContainer{
	min-height: 500px;
	width: 75%;
	padding-top: 30px;
}
.widgetContainer{
	float: right;
	min-height: 400px;
	width: 25%;
	position: auto;
}
.widget{
	background-color: white;
	margin-top:30px;
	margin-right: 20px;
	padding-bottom: 5px;
	border: 1px solid #dcdcdc;
}
.widgetHeader{
	background-color: black;
	padding: 5px;
	border: 3px solid gray;

}
.widgetHeader h4{
	color: white;
	border-left: 4px solid #fff;
	padding-left: 5px;
}
.widgetContent{
	margin:10px;

}
.linkbarContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.linkbarContainer li a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.linkbarContainer li a:hover {
  background-color: #111;
}

.headerTitle{
	margin-left:50px;
	padding-top:20px;
}

.postContainer{

	width: 80%;
	margin: 0 auto;	
	margin-bottom: 20px;
}

.postTitle{
	padding: 5px;
}

.postImage{
	width: 100%;
	
}

.postContent{
	padding-left: 10px;
	padding-right: 10px;
}

.postFooter{

}

.postImage img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.hidden{
	visibility: hidden;
	display: none!important;
}

.createPostFormContainer{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 30px;
}

.createPostFormCol{
	width: 20%; 
	float: left;
	margin-right: 20px;
	
}

.createPostFormRow{
	
}

.pagenavContainer{

	width: 100%;

}

.pagination{
	display: flex;
	justify-content: center;
}

.page-link {
	color:black;
}
.page-item.active .page-link {
	border-color: grey;
	background-color:grey;
	color: white;
	
}

.page-link:hover {
    z-index: 2;
    color:black;
    background-color: #e9ecef;
    border-color: #dee2e6;
}


.footerCollumn{
	width: 33.33%;
	float: left;
	padding: 20px;
}

body{
	background: url(../images/back.jpg) top center fixed;
}

/* unvisited link */
a:link {
	color: black;
  }
  
  /* visited link */
  a:visited {
	color: black;
  }
  
  /* mouse over link */
  a:hover {
	color: grey;
  }

  .btn-primary {
    color: #fff;
    background-color: grey;
    border-color: grey;
}

  .btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
.map-container{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	}
	.map-container iframe{
	left:0;
	top:0;
	height:300px;
	width:100%;
	position:absolute;
	}